<style type="text/css" media="screen">
  .recap-video{background:#051d29 url('/images/hero/20141209-recap-lessig-video-still.jpg') no-repeat center 0;background-size:cover}
  .recap-video .jumbotron-wrap{padding-top: 90px;margin-top:7px;}
  .recap-video .jumbotron{position:relative;padding-bottom:30px;}
    .recap-video .jumbotron .jumbotron-content{background: rgba(255,255,255,1)}
    .recap-video .jumbotron hr{padding:0 0 1px;}
    .recap-video p {text-shadow:0 0 3px #fff;}
    .recap-video .jumbotron h2{line-height:95%;}
    .recap-video .jumbotron a.ir.link-cover{display:block; width:100%; min-height:290px; position:absolute;top:0;bottom:0;z-index:100;}

@media screen and (min-width: 1550px) {
  .recap-video{background-position:center -50px}
}
@media screen and (min-width: 1650px) {
  .recap-video{background-position:center -120px}
}
@media screen and (min-width: 993px) {
  .recap-video .jumbotron .jumbotron-content{max-width:390px;}
}
@media screen and (max-width: 992px) {
  .recap-video .jumbotron .container{background: rgba(255,255,255,0.95); }
  .recap-video{background:transparent url('/images/hero/20141209-recap-lessig-video-still-small.jpg') no-repeat 0 0;background-size:cover;}
  /*.recap-video .jumbotron-wrap{background-position: center -100px}*/
  .recap-video .jumbotron .jumbotron-content{width:100%; background:transparent;border:none;}
  .recap-video .jumbotron > a.ir.link-cover{display: none;}
}
</style>

<div class="jumbotron-wrap">
  <section class="jumbotron">
    <a href="/campaigns/what-we-learned-in-2014/" title="Watch the Video!" class="ir link-cover">&nbsp;</a>
    <div class="container">
      <div class="col-md-5 jumbotron-content">
        <hr />
        <h2>What we learned in 2014</h2>
        <p>Hear from Lessig about the 2014 cycle and what's in store for 2015.</p>
        <a href="/campaigns/what-we-learned-in-2014/" class="btn">Learn More</a>
        <hr />
      </div>
    </div>
  </section>
</div>